# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    target-branch: "dev" # The branch to which Dependabot will propose updates
    schedule:
      interval: "weekly"
      day: "monday"
      time: "07:00"
      timezone: "Europe/Paris"
    open-pull-requests-limit: 10
    cooldown:
      default-days: 3
    groups:
      go-major:
        update-types:
          - "major"
      go-minor-and-patch:
        update-types:
          - "minor"
          - "patch"
    allow:
      - dependency-type: "all"
