repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/semgrep/pre-commit
    rev: v1.149.0
    hooks:
      - id: semgrep
        args: ['--config', 'auto', '--error', '--skip-unknown-extensions']
  - repo: local
    hooks:
      - id: govulncheck
        name: govulncheck
        entry: govulncheck
        args: ['./...']
        language: system
        pass_filenames: false
        types: [go]
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-imports
      - id: no-go-testing
      - id: golangci-lint
      - id: go-unit-tests
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.22.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/config-conventional']
